@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Dashboard";
}

@model List<Property>

<body style="background-image: url('http://3.bp.blogspot.com/_uGCoghnCSws/TMEy4m6JGZI/AAAAAAAAABQ/NXHhWkzq2Nk/s1600/Luxury+house+(3).jpg');  background-size: cover; background-repeat: no-repeat;
    background-attachment: fixed;">
<div class="row">
    <div class="col-8">
			<h1>Here's a list of what we got!</h1>
			<h3>Click on the Property Title to see more</h3>
@{
	int? uid = Context.Session.GetInt32("UserId");
}
        @if (uid != null)
        {
        <a asp-action="CreatePropertyForm">Add a Property</a>
		} else{
        <a asp-action="LogAndReg">Sign In if you would like to add Property</a>

		}
    </div>
</div>
<div>
<hr>
<div class="row mb-2">
	@foreach (Property property in Model)
        {
			string url = $"/property/{property.PropertyId}";
            string like = $"/property/{property.PropertyId}/like";
			string unlike = $"/property/{property.PropertyId}/unlike";
            string delete = $"property/{property.PropertyId}/delete";
		<div class="col-md-6">
		<div class="bg-light row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-inline-block" style="height:300px; margin-bottom: 10px">
			<div class="col p-4 d-flex flex-column position-static">
				<strong class="d-inline-block mb-2 text-primary">@property.ListingType</strong>
				<h3 class="mb-0">@property.Title</h3>
				<div class="mb-1 text-muted">@property.CreatedAt</div>
				<p class="card-text mb-auto">For @property.ListingType @property.Price.ToString("C", new System.Globalization.CultureInfo("en-US"))</p>
				<p class="card-text mb-auto">@property.Bedrooms bedrooms @property.Baths baths</p>
				<p class="card-text mb-auto" style="width:250px; white-space: nowrap; overflow: hidden; text-overflow:ellipsis;">For @property.Description</p>
				<a href="@url" class="stretched-link">Continue reading</a>
			</div>
			<div class="col-auto d-none d-lg-block">
			<img src="@property.ImgUrl" style="width:200px; height:300px; object-fit:cover"/>
			</div>
		</div>
		</div>
		}
</body>